<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>

    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">
                {{ estadoformulario == 1 ? 'Listado de usuarios' : estadoformulario == 2 ? 'Crear usuario' : 'Editar usuario' }}
            </h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false"
            aria-label="Agregar Cliente" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div>

            <div class="container" style="width: 98%; overflow-x: scroll;" *ngIf="estadoformulario == 1">
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="float: right; padding: 4px 10px;"
                            (click)="agregarusuario()"><span class='glyphicon glyphicon-plus' data-toggle="tooltip"
                                data-placement="left" title="Agregar nuevo usuario"></span></button>
                        <mat-form-field>
                            <input matInput placeholder="Busqueda" type="text" style="width: 95%;"
                                (keydown)="buscarUsuario($event)" [(ngModel)]="filtroBusqueda">
                        </mat-form-field>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-10 text-center">
                    </div>
                </div>


                <table mat-table [dataSource]="usuarios" style="overflow-x: scroll;" *ngIf=" estadoformulario==1">

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Usuario_ID </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nick">
                        <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.nick}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado">
                            {{ (element.tipo == 1 ? 'Administrador': element.tipo == 2 ?'Coordinador':'') }} </td>
                    </ng-container>

                    <ng-container matColumnDef="estatus">
                        <th mat-header-cell *matHeaderCellDef> Estatus </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado">
                            {{ (element.estatus == 1 ? 'Activo': element.estatus == 0 ? 'Inactivo': '') }} </td>
                    </ng-container>

                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> <button type="button"
                                class="btn btn-primary btn-lg" style="padding: 2px 6px;"
                                (click)="consultarusuarioporid(element.id)"><span class='glyphicon glyphicon-pencil'
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="Editar usuario"></span></button> </td>
                    </ng-container>

                    <ng-container matColumnDef="actualizar">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> <button type="button"
                                class="btn btn-warning btn-lg" style="padding: 2px 6px;"
                                (click)="restablecerpassword(element.id)"><span class='glyphicon glyphicon-refresh'
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="Restablecer contraseña del usuario"></span></button> </td>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"><button type="button" class="btn btn-danger btn-lg"
                                style="padding: 2px 6px;" (click)="eliminarusuario(element.id)"><span
                                    class='glyphicon glyphicon-trash' data-toggle="tooltip" data-placement="bottom"
                                    title="Eliminar usuario"></span></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>


            <div class="container" style="width: 98%; overflow-x: scroll;" *ngIf="estadoformulario==2 || estadoformulario==3">
                <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">
                    <span>{{ msjAlertaValidacion }}</span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <form class="form-horizontal" [formGroup]="formularioUsuarios">
                                <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)" gutterSize="50px">
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre de Usuario" type="text" formControlName="nick" [readonly]="true"
                                                [(ngModel)]="usuarioactivo.nick" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="hasError('nick', 'required')">
                                                Ingrese el Nombre de Usuario.
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nick', 'nickExist')">
                                                El Nombre de Usuario ya existe!
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nick', 'minlength')">
                                                El Nombre de Usuario debe de ser minimo de 4 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre" type="text" formControlName="nombre"
                                                [(ngModel)]="usuarioactivo.nombre" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="hasError('nombre', 'required')">
                                                Ingrese el Nombre
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nombre', 'minlength')">
                                                El nombre debe de ser minimo de 6 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Contraseña" type="password"  [(ngModel)]="usuarioactivo.password"
                                                formControlName="pass" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="hasError('pass', 'required')">
                                                Ingrese su Contraseña
                                            </mat-error>
                                            <mat-error *ngIf="hasError('pass', 'minlength')">
                                                La contraseña debe de ser minimo de 6 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Confirmar Contraseña" type="password" 
                                                formControlName="confirm">
                                            <mat-error *ngIf="hasError('confirm', 'required')">
                                                Confirme su Contraseña
                                            </mat-error>
                                            <mat-error *ngIf="hasError('confirm', 'passwordMismatch')">
                                                No coinciden las Contraseñas
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="E-mail" type="email" formControlName="email"
                                                [(ngModel)]="usuarioactivo.email" ngModel email="true" [readonly]="true"
                                                [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="hasError('email', 'required')">
                                                Ingrese su E-mail
                                            </mat-error>
                                            <mat-error *ngIf="hasError('email', 'emailExist')">
                                                El Email ya existe!
                                            </mat-error>
                                            <mat-error *ngIf="hasError('email', 'email')">
                                                E-mail no valido
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Tipo</mat-label>
                                            <mat-select [(ngModel)]="usuarioactivo.tipo" name="tipo" formControlName="tipo">
                                            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                                {{tipo.viewValue}}
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </form>
                        </div>
                    </div>
                </div>
                <br/>
            <br/>
            <!-- Botones -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="button" style="position: absolute; right: 128px;">
                    <button mat-raised-button (click)="guardarusuario()" color="primary" type="submit">Guardar</button>
                </div>
                <div class="button" style="position: absolute; right: 27px;">
                    <button mat-raised-button color="Accent" (click)="regresaralistado()">Cancelar</button>
                </div>
            </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>