<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center">
            <p class="nombre-inmueble">Reservación de inmueble: {{inmueble.nombre}}</p>
        </h2>
    </div>
    <div class="panel-body">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span class="sr-only">Tipo:</span>Tipo: {{inmueble.descripcionAmbiente}}<br><br>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <span class="sr-only">Ubicación:</span>Localización: {{inmueble.direccion}} {{inmueble.descripcionColonia}}. {{inmueble.descripcionCiudad}}, {{inmueble.descripcionEstado}}<br><br>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="sr-only">Capacidad:</span>Capacidad: {{inmueble.capacidad}}<br><br>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <span class="sr-only"><i class="fas fa-exclamation-circle"></i>:</span>Correo Electrónico: {{inmueble.correoElectronico}}<br><br>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        <span class="sr-only">Telefono:</span>Teléfono(s): {{inmueble.telefono}}<br><br>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span class="sr-only">Horario:</span>Horario: {{inmueble.horario}}<br><br>
    </div>
    <br>
    <div class="cabecera-elegido">
        <h2 class="text-center inmueble-elegido">
            Paquete elegido: {{paqueteNombre}} || Precio: {{ paquetePrecio | currency: 'USD' | lowercase }}
        </h2>
    </div>
    <br>
    <br>
    <div class="text-center">
        <button class="btn btn-warning btn-lg" (click)="regresar()" style="margin: 10px;">Regresar</button>
        <button class="btn btn-success btn-lg" (click)="terminarReservacion()" style="margin: 10px;">Terminar reservación</button>
    </div>
</div>