<div *ngIf="inicial; else reservar" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center">
            <p class="nombre-inmueble">{{inmueble.nombre}}</p>
        </h2>
    </div>
    <div class="panel-body">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span class="sr-only">Tipo:</span>Tipo: {{inmueble.descripcionAmbiente}}<br><br>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <span class="sr-only">Ubicación:</span>Localización: {{inmueble.direccion}} {{inmueble.descripcionColonia}}. {{inmueble.descripcionCiudad}}, {{inmueble.descripcionEstado}}<br><br>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="sr-only">Capacidad:</span>Capacidad: {{inmueble.capacidad}}<br><br>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <span class="sr-only"><i class="fas fa-exclamation-circle"></i>:</span>Correo Electrónico: {{inmueble.correoElectronico}}<br><br>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        <span class="sr-only">Telefono:</span>Teléfono(s): {{inmueble.telefono}}<br><br>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span class="sr-only">Horario:</span>Horario: {{inmueble.horario}}<br><br>
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        <span class="sr-only">Costo:</span>Precio básico: {{ inmueble.costo | currency: 'USD' | lowercase }}<br><br>
        <span *ngIf="inmueble.whatsapp.length > 0" class="glyphicon glyphicon-phone" aria-hidden="true"></span>
        <span *ngIf="inmueble.whatsapp.length > 0" class="sr-only">WhatsApp:</span>
        <label style="font-weight: 400;" *ngIf="inmueble.whatsapp.length > 0">WhatsApp: {{inmueble.whatsapp}}</label><br *ngIf="inmueble.whatsapp.length > 0"><br *ngIf="inmueble.whatsapp.length > 0">
        <span *ngIf="inmueble.facebook.length > 0" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <span *ngIf="inmueble.facebook.length > 0" class="sr-only">Facebook:</span>
        <label style="font-weight: 400;" *ngIf="inmueble.facebook.length > 0">Facebook: {{inmueble.facebook}}</label><br *ngIf="inmueble.facebook.length > 0"><br *ngIf="inmueble.facebook.length > 0">
        <span *ngIf="inmueble.sitioWeb.length > 0" class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
        <span *ngIf="inmueble.sitioWeb.length > 0" class="sr-only">Sitio Web:</span><a href="{{sitioweburl}}" target="_blank" *ngIf="inmueble.sitioWeb.length > 0">{{inmueble.sitioWeb}}</a><br *ngIf="inmueble.sitioWeb.length > 0"><br *ngIf="inmueble.sitioWeb.length > 0">
        <span *ngIf="inmueble.localizacion.length > 0" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <span *ngIf="inmueble.localizacion.length > 0" class="sr-only"></span><a href="{{inmueble.localizacion}}" target="_blank" *ngIf="inmueble.localizacion.length > 0">Ir a localización</a><br *ngIf="inmueble.localizacion.length > 0"><br *ngIf="inmueble.localizacion.length > 0">
        <google-map *ngIf="inmueble.localizacion.length > 0" width="100%" height="450px" [center]="center" [zoom]="zoom">
        </google-map>
    </div>
    <div *ngIf="mostrarpaquetes" class="cabecera-detalles">
        <h2 class="text-center">
            <p class="nombre-inmueble">Otros paquetes del inmueble</p>
        </h2>
    </div>
    <table class='table table-striped Tabla' *ngIf="mostrarpaquetes">
        <thead>
            <tr>
                <th style="width: 1%;" *ngIf="false">Paquete_ID</th>
                <th style="width: 20%;">Nombre</th>
                <th style="width: 10%;">Mesas</th>
                <th style="width: 10%;">Meseros</th>
                <th style="width: 10%;">Manteleria</th>
                <th style="width: 10%;">Costo</th>
                <th style="width: 40%;">Otros Datos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paquete of paquetes">
                <td *ngIf="false">{{ paquete.id }}</td>
                <td class="TextoIzquierda">{{ paquete.nombre }}</td>
                <td class='TextoCentrado'>{{ (paquete.incluyeMesas == 1 ? 'Si': paquete.incluyeMesas == 0 ? 'No': '') }}</td>
                <td class='TextoCentrado'>{{ (paquete.incluyeMeseros == 1 ? 'Si': paquete.incluyeMeseros == 0 ? 'No': '') }}</td>
                <td class='TextoCentrado'>{{ (paquete.incluyeManteleria == 1 ? 'Si': paquete.incluyeManteleria == 0 ? 'No': '') }}</td>
                <td class="TextoCentrado">{{ paquete.costo | currency: 'USD' | lowercase }}</td>
                <td class="TextoIzquierda">{{ paquete.otrosDatos }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div *ngIf="mostrarcalificaciones" class="cabecera-detalles">
        <h2 class="text-center">
            <p class="nombre-inmueble">Calificaciones del inmueble</p>
        </h2>
    </div>
    <table class='table table-striped Tabla' *ngIf="mostrarcalificaciones">
        <thead>
            <tr>
                <th style="width: 1%;" *ngIf="false">No_Calificacion</th>
                <th style="width: 20%;">Calificación</th>
                <th style="width: 30%;">Fecha</th>
                <th style="width: 50%;">Comentario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let calificacion of calificaciones">
                <td *ngIf="false">{{ calificacion.noCalificacion }}</td>
                <td class="TextoIzquierda">{{ calificacion.valorCalificacion }}</td>
                <th class="TextoIzquierda">{{ calificacion.fecha.toLocaleDateString() }}</th>
                <td class="TextoIzquierda">{{ calificacion.comentario }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div *ngIf="imagenesbd.length>0" class="cabecera-detalles">
        <h2 class="text-center">
            <p class="nombre-inmueble">Fotos del inmueble</p>
        </h2>
    </div>
    <br>
    <div class="col-md-12" class="text-center">
        <div id="carousel-1" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ol class="carousel-indicators">
                <li *ngFor="let imagen of imagenesbd; index as indexOfelement;" data-target="#carousel-1" data-slide-to="1" class="{{indexOfelement ==0?'active':''}}"></li>
            </ol>
            <!-- contenedor de los slide -->

            <div class="carousel-inner" role="listbox">
                <div *ngFor="let imagen of imagenesbd; index as indexOfelement;" class="item {{indexOfelement ==0?'active':''}}">
                    <img src="{{imagen.src}}" class="img-responsive" alt="">
                    <!-- style="width:822px;height:322px;" -->
                    <!-- YA ME QUEDO CLARO POR QUE TODAS LAS IMAGENES MISMO TAMAÑO -->
                    <div class="carousel-caption">
                        <!-- <h3>Este es nuestro Slide #1</h3>
                            <p>Lorem ipsum dolor sit amet.</p> -->
                    </div>
                </div>
            </div>
            <!-- Controles -->
            <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev" *ngIf="imagenesbd.length>0">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next" *ngIf="imagenesbd.length>0">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <form class="form-inline">
            <div class="form-group col-sm-4">
                <mat-form-field>
                    <mat-label>{{ (IsAuthenticated ? 'Seleccione la fecha':'Fechas disponibles') }}</mat-label>
                    <input matInput [matDatepicker]="picker" disabled (dateChange)="addEvent('change', $event)" [matDatepickerFilter]="addFilter" [(ngModel)]="fecha" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker disabled="false" [dateClass]="dateClass"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group col-sm-4">
                <select class="form-control paquete-elegido" name="cmb_elegibles" (change)="elegiblesChange($event.target.value)">
                    <option value="0">Básico</option>
                    <option *ngFor="let paquete of paquetes" value={{paquete.id}}>{{paquete.nombre}}</option>
                </select>
            </div>
            <div class="texto-elegido col-sm-4">
                <label>
                    <span class="sr-only">Costo:</span>Precio de paquete: {{ precioElegido | currency: 'USD' | lowercase }}
                </label>
            </div>
        </form>
    </div>
    <br>
    <div *ngIf="IsAuthenticated" class="text-center">
        <button class="btn btn-warning btn-lg" (click)="regresar()" style="margin: 10px;">Regresar</button>
        <!--<button class="btn btn-primary btn-lg" *ngIf="this.ocultar" (click)="ejecutarReservar()" style="margin: 10px;">Reservar</button>-->
        <button class="btn btn-success btn-lg" (click)="rediccionarWhatsApp()" style="margin: 10px;">Agendar cita</button>
    </div>
    <div *ngIf="!IsAuthenticated" class="text-center">
        <button class="btn btn-warning btn-lg" (click)="regresar()" style="margin: 10px;">Regresar</button>
        <!--<button class="btn btn-primary btn-lg" *ngIf="this.ocultar" style="margin: 10px;" (click)="redireccionarLogin()">Ingresa para reservar</button>-->
        <button class="btn btn-success btn-lg" (click)="rediccionarWhatsApp()" style="margin: 10px;">Agendar cita</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<ng-template #reservar>
    <app-buscador-resultado-detalle-reservacion [inmueble]="inmueble" [paqueteId]="paqueteIdElegido" [paqueteNombre]="paqueteNombreElegido" [fecha]="fecha" [paquetePrecio]="precioElegido" (regresarPantalla)="inicial = true"></app-buscador-resultado-detalle-reservacion>
</ng-template>