.nombre-inmueble {
    font-size: xx-large;
}

.panel-body {
    font-size: large;
}

.cabecera-detalles {
    background-color: #90c9ff;
    height: 40px;
}


.datePickerFechaNoDisponible {
    background: gray;
    border-radius: 100%;
}

.datePickerFechaAutorizada {
    background: green;
    border-radius: 100%;
}

.datePickerFechaCalificada {
    background: green;
    border-radius: 100%;
}

.texto-elegido {
    color: rgb(0, 134, 83);
    font-family: "Helvetica", Sans-serif;
    font-size: 18pt;
    font-weight: normal;
}

.paquete-elegido {
    width: 100%!important
}

.img-responsive {
    width: 100%;
    max-height: 400px;
}

.contenedorCarrusel {
    height: 400px;
}