.nombre-inmueble {
    font-size: xx-large;
}

.panel-body {
    font-size: large;
}

.cabecera-elegido {
    height: 40px;
}

.inmueble-elegido {
    color: #08310d;
    font-family: "Helvetica", Sans-serif;
    font-size: 18pt;
    font-weight: normal;
}