    @media (min-width: 768px) {
        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
            color: black;
        }
        .navbar li a:hover {
            background-color: #a09595;
        }
        .navbar ul {
            float: right !important;
        }
    }
    
    @media (max-width: 766px) {
        .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: #000000;
        }
    }
    
    .navbar-inverse .navbar-nav>li>a {
        color: #000000;
    }
    
    .navbar li {
        font-size: 15px;
        margin: 6px;
    }
    
    .navbar {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }
    
    .navbar-brand {
        font-size: xx-large;
        color: black;
    }
    
    .navbar-brand:hover {
        color: rgb(9, 84, 114);
    }
    
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }
    
    #navbar-toggle {
        position: absolute;
        top: -99999px;
        left: -99999px;
        opacity: 0;
        visibility: hidden;
    }