<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="home"><img style="width: 200px;" src="../../assets/Images/logotransparente.png" alt="BuscoSalon.com"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>               
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav menu">
                <li *ngIf="IsAuthenticated && Role == 1" [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/usuarios"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-lock'></span> Usuarios
                    </a>
                </li>
                <li *ngIf="IsAuthenticated && (Role == 1 || Role == 2)" [routerLinkActive]='["link-active"]'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>Socios </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]='["/socios"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-user'></span> Socios
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a [routerLink]='["/activasocios"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-bell'></span> Activar Socios
                            </a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="IsAuthenticated && (Role == 1 || Role == 3 || Role == 4)" [routerLinkActive]='["link-active"]'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-home"></span>Inmuebles </a>
                    <ul class="dropdown-menu">
                        <li *ngIf="IsAuthenticated && (Role == 1 || Role == 4)">
                            <a [routerLink]='["/inmuebles"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-home'></span> Inmuebles
                            </a>
                        </li>
                        <li *ngIf="IsAuthenticated && (Role == 4)" role="separator" class="divider"></li>
                        <li *ngIf="IsAuthenticated && (Role == 4)">
                            <a [routerLink]='["/reservaciones-porautorizar"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-bell'></span> Activar Reservaciones
                            </a>
                        </li>
                        <li *ngIf="IsAuthenticated && (Role == 3 || Role == 4)" role="separator" class="divider"></li>
                        <li *ngIf="IsAuthenticated && (Role == 3 || Role == 4)">
                            <a [routerLink]='["/misreservaciones"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-ok-sign'></span> Mis Reservaciones
                            </a>
                        </li>
                        <li role="separator" class="divider" *ngIf="IsAuthenticated && (Role == 3 || Role == 4)"></li>
                        <li *ngIf="IsAuthenticated && (Role == 3 || Role == 4)">
                            <a [routerLink]='["/reservaciones-porcalificar"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-star'></span> Calificar
                            </a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="IsAuthenticated && Role == 1 || Role == 2" [routerLinkActive]='["link-active"]'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bullhorn"></span>Anuncios </a>
                    <ul class="dropdown-menu">
                        <li *ngIf="IsAuthenticated && (Role == 1 || Role == 2)">
                            <a [routerLink]='["/anuncio"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-bullhorn'></span> Anuncios
                            </a>
                        </li>
                        <li *ngIf="IsAuthenticated && Role == 1" role="separator" class="divider"></li>
                        <li *ngIf="IsAuthenticated && Role == 1">
                            <a [routerLink]='["/anuncio-aplicar"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-bell'></span> Activar
                            </a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="IsAuthenticated && Role == 1" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span>Catalogos </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]='["/tipo-ambiente"]'><span class="glyphicon glyphicon-cog"></span>Tipo Ambiente</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]='["/colonia"]'><span class="glyphicon glyphicon-cog"></span>Colonia</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]='["/ciudad"]'><span class="glyphicon glyphicon-cog"></span>Ciudad</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]='["/parametros"]'><span class="glyphicon glyphicon-cog"></span>Parametros</a></li>
                    </ul>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <mat-icon style="font-size: 35px; right: 5%; cursor: pointer;" aria-hidden="false" aria-label="Agregar Cliente" [routerLink]='["/perfil"]'>person</mat-icon>
                </li>

                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/salir"]' (click)='LogOut()'>
                        <span class='glyphicon glyphicon-log-out'></span> Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<script>
    $('.icon').click(function() {
        $('span').toggleClass("cancel");
    });
</script>