
    <div class="form-group">
        <div class="col-md-12 text-center">
        <input  class="form-control"  [(ngModel)]="filtroObject.search"  style="width: 100%;" type="text" placeholder="Busqueda" #box  (keyup.enter)="onEnter(box.value)"  />
       </div>
    </div>

