<div class="modal" role="dialog" id="myModal" [style.display]="showModal ? 'block' : 'none' ">

    <div class="modal-dialog">
          <div class="modal-content">
  
              <div class="modal-header">
                   <h4 class="modal-title">Procesando</h4>
              </div>
               <div class="modal-body">
                   <div class="progress">
  
                     <div class="progress-bar progress-bar-striped" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
  
                     </div>
  
                   </div>
               </div>
          </div>
      </div>
   </div>
  