




<div class="text-right">
    <pagination [totalItems]="totalItmens" [itemsPerPage]="elementoPorPagina" [(ngModel)]="paginacionObject.currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" ></pagination>
</div>