<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">Anuncios</h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false"
            aria-label="Activar Anuncios" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>

        <div style="width: 98%; overflow-x: scroll;" *ngIf="visualizarMode; else editor">

            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg" style="float: right; padding: 4px 10px;" (click)="nuevoElemento()"><span class='glyphicon glyphicon-plus' data-toggle="tooltip" data-placement="left" title="Agregar Anuncio"></span></button>
                </div>
            </div>

            <filtro-search-componente [paginacionObject]="paginacion" [filtroObject]="filtros">
            </filtro-search-componente>

            <div class="form-group row">
                <div class="col-sm-10 text-center">
                </div>
            </div>

            <table class="table table-striped Tabla" style="overflow-x: scroll;">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Socio</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th>Días</th>
                        <th>Total Costo</th>
                        <th>Estatus</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of anuncioLista; let i=index">
                        <td>
                            <img [src]="item.url" class="img-responsive" style="height: 100px; width: 200px;"
                                alt="Imagen No Disponible" />
                        </td>
                        <td>
                            {{item.nombre_socio}}
                        </td>
                        <td>
                            {{ item.fecha_inicio }}
                        </td>
                        <td>
                            {{ item.fecha_final }}
                        </td>
                        <td>
                            {{ item.dias }}
                        </td>
                        <td>
                            {{ item.costo_total }}
                        </td>
                        <td>
                            {{ item.estatus }}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-lg" style="padding: 2px 6px;"
                                (click)="seleccionarElemento(item)"><span class='glyphicon glyphicon-pencil'
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="Editar Anuncio"></span></button>
                        </td>
                    </tr>
                </tbody>

            </table>

            <paginacion-componente [paginacionObject]="paginacion"></paginacion-componente>

        </div>



        <div>
            <ng-template #editor>
                <anuncio-editor [anuncioObject]="anuncioEntidad" [visualizar]="visualizar"></anuncio-editor>
            </ng-template>
        </div>

        <loading-show [showModal]="loading"> </loading-show>

    </mat-card-content>
</mat-card>