
<div style="width: 98%; overflow-x: scroll;">

    <div class="well well-sm">

        <form [formGroup]="anuncioForm">
  
            <fieldset>
             
                <legend class="text-center header">
                    {{anuncioObject.anuncio_id == 0 ? 'Crear Anuncio': 'Editar Anuncio'}}
                </legend>

                <div class="form-group">
                    <label>Socios</label>
                    <select class="form-control" formControlName="socio_id" disabled>
                     <option value="">SELECCIONE</option>
                     <option *ngFor="let item of listadoSocios" value="{{item.id}}"> {{item.name}}</option>
                    </select>
                    <show-errors [control]="anuncioForm.controls.socio_id"></show-errors>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label>Fecha Inicio</label>
                        <input type="text" class="form-control" (bsValueChange)="onValueChangeInicial($event)"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker formControlName="fecha_inicio" />
                        <show-errors [control]="anuncioForm.controls.fecha_final"></show-errors>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Fecha Final</label>
                        <input type="text" class="form-control" (bsValueChange)="onValueChangeFinal($event)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker formControlName="fecha_final" />
                        <show-errors [control]="anuncioForm.controls.fecha_final"></show-errors>
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                          <label>D&iacute;as</label>
                          <input type="text" class="form-control" formControlName="dias" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Costo Total</label>
                        <input type="text" class="form-control" formControlName="costo_total" disabled>
                  </div>

                </div>
                     

                <div class="form-group">
                    <label>Estatus </label>
                    <select class="form-control" formControlName="estatus" disabled>
                    <option value="">SELECCIONE</option>
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                    <option value="PENDIENTE POR ACTIVAR">PENDIENTE POR ACTIVAR</option>
                   </select>
                   <show-errors [control]="anuncioForm.controls.estatus"></show-errors>
                </div>  

                <div class="form-group">

                    <div class="form-group col-md-6" >
                        <label>Imagen Ancho: de 600 a 1200 px y Altura: de 300 a 500 px</label>
                        <input type="file" id="image" (change)="onFileChange($event)">
                    </div>
                     
                    <div class="form-group col-md-6">
                             <div *ngIf="imagenCadena">
                                  <div class="thumbnail">
                                    <img [src]="imagenCadena" alt=""  style="height: 100px; width: 200px;" alt="Imagen No Disponible"/>
                                    <div class="caption">
                                        <p>
                                            Dimensión {{anchoImagen}} x {{altoImagen}}
                                        </p>
                                    </div>
                                  </div>
                                  
                             </div> 
                    </div>
                    
                </div>      
                
                <div class="form-group" style="float: right;">
                    <div class="col-md-12 text-center">
                      <button type="button" class="btn btn-success btn-lg glyphicon glyphicon-ok" style="margin: 5px;" (click)="guardar()" [disabled]="!anuncioForm.valid" data-toggle="tooltip" data-placement="bottom" title="Guardar cambios"></button>
                      <button type="button" class="btn btn-danger btn-lg glyphicon glyphicon-remove" (click)="regresar()" data-toggle="tooltip" data-placement="bottom" title="Cancelar"></button>
                   </div>
                </div> 

            </fieldset>


        </form>

    </div>



</div>

<loading-show [showModal]="loading"> </loading-show>