

<div class="container">
   
   <div class="well well-sm">

    <form [formGroup]="ciudadForm">

        <fieldset>
             <legend class="text-center header"> 
                {{ciudadObject.ciudad_ID == 0 ? 'Crear Ciudad': 'Editar Ciudad'}}
             </legend>


             
            <div class="form-group">
                <label>Estado</label>
                <select class="form-control" formControlName="Estado_ID">
                 <option value="">SELECCIONE</option>
                 <option *ngFor="let item of listadoEstados" value="{{item.id}}"> {{item.name}}</option>
                </select>
                <show-errors [control]="ciudadForm.controls.Estado_ID"></show-errors>
            </div>

            <div class="form-group">
                <label>Nombre Ciudad</label>
                <input class="form-control" formControlName="Ciudad_Nombre" />
                <show-errors [control]="ciudadForm.controls.Ciudad_Nombre"></show-errors>
              </div>

             <div class="form-group">
                <label>Estatus </label>
                <select class="form-control" formControlName="Ciudad_Estatus">
                <option value="">SELECCIONE</option>
                <option value="ACTIVO">ACTIVO</option>
                <option value="INACTIVO">INACTIVO</option>
               </select>
               <show-errors [control]="ciudadForm.controls.Ciudad_Estatus"></show-errors>
            </div>   


             <div class="form-group" style="float: right;">
                <div class="col-md-12 text-center">
                  <button type="button" class="btn btn-success btn-lg glyphicon glyphicon-ok" style="margin: 5px;" (click)="guardar()" [disabled]="!ciudadForm.valid" data-toggle="tooltip" data-placement="bottom" title="Guardar cambios"></button>
                  <button type="button" class="btn btn-danger btn-lg glyphicon glyphicon-remove" (click)="regresar()" data-toggle="tooltip" data-placement="bottom" title="Cancelar"></button>
               </div>
            </div> 

        </fieldset>

    </form>

   </div>

</div>



<loading-show [showModal]="loading"> </loading-show>