<div *ngIf="visualizarMode; else editor">

    <div class="row">
        <div class="col-md-11 col-sm-9 col-xs-9" >
            <h1 class="bd-content-title text-center">Ciudades</h1>
          </div>
        <div class="col-md-1 col-sm-3 col-xs-3">
          <button class="btn btn-primary" (click)="nuevoElemento()">
            Nuevo
         </button>
        </div>
    </div>

<filtro-search-componente [paginacionObject]="paginacion" [filtroObject]="filtros"></filtro-search-componente>

<div class="form-group row">
    <div class="col-sm-10 text-center">
    </div>
</div>

 <table class="table table-striped Tabla">
      <thead>
          <tr>
              <th>Estado</th>
              <th>Ciudad</th>
              <th>Estatus</th>
              <th></th>
          </tr>
      </thead>
      <thead>
          <tr *ngFor = "let item of ciudadLista; let i=index">
              <td > {{item.nombre_Estado}} </td>
              <td > {{item.ciudad_Nombre}} </td>
              <td > {{item.ciudad_Estatus}} </td>
              <td>
                <button type="button" class="btn btn-primary btn-lg" style="padding: 2px 6px;" (click)="seleccionarElemento(item)"><span class='glyphicon glyphicon-pencil' data-toggle="tooltip" data-placement="bottom" title="Editar Ciudad"></span></button>
              </td>
          </tr>
      </thead>
 </table>


<paginacion-componente [paginacionObject]="paginacion"></paginacion-componente>
</div>

<div>
    <ng-template #editor>
        <ciudad-editor [ciudadObject]="ciudadEntidad" [visualizar]="visualizar"></ciudad-editor>
    </ng-template>
</div>

<loading-show [showModal]="loading"> </loading-show>