
<carousel  [interval]="myInterval" [(activeSlide)]="activeSlideIndex">
  <slide tr *ngFor = "let item of listaAnuncio; let i=index">
    <img [src]="item.url"  alt="Imagen No disponible" style="max-height:200px; margin:0 auto;width: 100%;" >
  </slide>
</carousel>
