<div class="contenedor">
    <br>
    <div class="col-md-12">
        <div id="carousel-1" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ol class="carousel-indicators">
                <li *ngFor="let imagen of imagenesbd; index as indexOfelement;" data-target="#carousel-1" data-slide-to="1" class="{{indexOfelement ==0?'active':''}}"></li>
            </ol>
            <!-- contenedor de los slide -->

            <div class="carousel-inner" role="listbox">
                <div *ngFor="let imagen of imagenesbd; index as indexOfelement;" class="item {{indexOfelement ==0?'active':''}}">
                    <img src="{{imagen.src}}" class="img-responsive" alt="">
                    <!-- style="width:822px;height:322px;" -->
                    <!-- YA ME QUEDO CLARO POR QUE TODAS LAS IMAGENES MISMO TAMAÑO -->
                    <div class="carousel-caption">
                        <!-- <h3>Este es nuestro Slide #1</h3>
                        <p>Lorem ipsum dolor sit amet.</p> -->
                    </div>
                </div>
            </div>
            <!-- Controles -->
            <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev" *ngIf="imagenesbd.length>0">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next" *ngIf="imagenesbd.length>0">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>