<h1 class="bd-content-title text-center">Control de paquetes del inmueble: {{nombreInmueble}}</h1>

<div class="example-container" *ngIf="estadoformulario!=1">
    <form [formGroup]="options">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="txtnombre" placeholder="Nombre del paquete" [(ngModel)]="paqueteactivo.nombre">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Costo</mat-label>
            <input matInput formControlName="txtcosto" type="number" class="example-right-align" [(ngModel)]="paqueteactivo.costo">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>
        <br>
        <mat-checkbox [formControl]="chkincluyemesas" [(ngModel)]="paqueteactivo.incluyeMesas">Incluye Mesas</mat-checkbox>
        <mat-checkbox [formControl]="chkincluyemeseros" [(ngModel)]="paqueteactivo.incluyeMeseros">Incluye Meseros</mat-checkbox>
        <mat-checkbox [formControl]="chkincluyemanteleria" [(ngModel)]="paqueteactivo.incluyeManteleria">Incluye Manteleria</mat-checkbox>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Otros datos</mat-label>
            <textarea matInput formControlName="txtotrosdatos" [(ngModel)]="paqueteactivo.otrosDatos"></textarea>
        </mat-form-field>
    </form>
</div>
<section>
    <div class="example-button-row">
        <button mat-raised-button color="primary" *ngIf="estadoformulario==1" (click)="agregarpaquete()" class="agregar">Agregar</button>
        <button mat-raised-button color="warn" *ngIf="estadoformulario==1" class="salir" (click)="regresar()">Salir</button>
        <button mat-raised-button color="green" *ngIf="estadoformulario!=1" (click)="guardarpaquete()" class="guardar">Guardar</button>
        <button mat-raised-button color="gray" *ngIf="estadoformulario!=1" (click)="regresaralistado()" class="cancelar">Cancelar</button>
    </div>
</section>

<table class='table table-striped Tabla' *ngIf="estadoformulario==1">
    <thead>
        <tr>
            <th style="width: 1%;" *ngIf="false">Paquete_ID</th>
            <th style="width: 20%;">Nombre</th>
            <th style="width: 10%;">Mesas</th>
            <th style="width: 10%;">Meseros</th>
            <th style="width: 10%;">Manteleria</th>
            <th style="width: 10%;">Costo</th>
            <th style="width: 40%;">Otros Datos</th>
            <th style="width: 5%;"></th>
            <th style="width: 5%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paquete of paquetes">
            <td *ngIf="false">{{ paquete.id }}</td>
            <td class="TextoIzquierda">{{ paquete.nombre }}</td>
            <td class='TextoCentrado'>{{ (paquete.incluyeMesas == 1 ? 'Si': paquete.incluyeMesas == 0 ? 'No': '') }}</td>
            <td class='TextoCentrado'>{{ (paquete.incluyeMeseros == 1 ? 'Si': paquete.incluyeMeseros == 0 ? 'No': '') }}</td>
            <td class='TextoCentrado'>{{ (paquete.incluyeManteleria == 1 ? 'Si': paquete.incluyeManteleria == 0 ? 'No': '') }}</td>
            <td class="TextoCentrado">{{ paquete.costo }}</td>
            <td class="TextoIzquierda">{{ paquete.otrosDatos }}</td>
            <td class="TextoCentrado"><button type="button" class="btn btn-primary btn-lg" style="padding: 2px 6px;" (click)="consultarpaqueteporid(paquete.id)"><span class='glyphicon glyphicon-pencil' data-toggle="tooltip" data-placement="bottom" title="Editar paquete"></span></button></td>
            <td class="TextoCentrado"><button type="button" class="btn btn-danger btn-lg" style="padding: 2px 6px;" (click)="eliminarpaquete(paquete.id)"><span class='glyphicon glyphicon-trash' data-toggle="tooltip" data-placement="bottom" title="Eliminar paquete"></span></button></td>
        </tr>
    </tbody>
</table>