@media (max-width: 768px) {
    .cabecera {
        font-size: medium;
    }
}

.contenedorNombreComentarios {
    color: rgb(0, 0, 0);
    font-family: Finland;
    font-size: 25pt;
    font-weight: bold;
    background-color: #90c9ff;
    padding: 10px;
    text-align: center;
}

.datePickerFechaNoDisponible {
    background: gray;
    border-radius: 100%;
}

.datePickerFechaAutorizada {
    background: green;
    border-radius: 100%;
}

.datePickerFechaCalificada {
    background: green;
    border-radius: 100%;
}

.example-events {
    height: 200px;
    border: 1px solid #555;
    overflow: auto;
}

.contenedorBotones {
    text-align: center !important;
}