<h1 class="bd-content-title text-center">Imagenes del inmueble: {{nombreInmueble}}</h1>

<button mat-raised-button color="warn" class="salir" (click)="regresar()">Salir</button>

<div class="media">
    <div class="media-body">
        <image-upload (removed)="quitarimagen($event)" (uploadFinished)="cargarimagenes($event)" [max]="15" [extensions]="['jpg']" buttonCaption="Elegir Imagenes" dropBoxMessage="" clearButtonCaption="Limpiar" class="customClass">Subir imagenes</image-upload>
    </div>
    <div class="media-right media-bottom">
        <div class="panel-body">
            <button *ngIf="imagenes.length>0" (click)="guardarimagenes()" class="btn btn-success btn-lg">Subir Fotos</button>
        </div>
    </div>
</div>

<div id="divListado" *ngIf="imagenesbd.length>0">
    <ul>
        <li *ngFor="let imagen of imagenesbd" class="imagenListado">
            <button class="btn btn-warning" matTooltip="Eliminar imagen" (click)="eliminarimagen(imagen.id)">ELIMINAR IMAGEN</button><br>
            <img src="{{imagen.src}}" width="400px" class="img-responsive" />
        </li>
    </ul>
</div>