:host {
    --active-color: rgb(0, 0, 0);
}

.imagenListado {
    list-style: none;
    margin: 10px;
}

.salir {
    margin: 10px;
    background-color: silver;
    color: #000;
}

.img-ul-upload {
    background: black !important;
}

.img-responsive {
    width: 600px;
}