<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>

    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">{{ estadoformulario == 1 ? 'Listado de inmuebles' : estadoformulario == 2 ? 'Crear inmueble' : 'Editar inmueble' }}</h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Agregar Cliente" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div style="width: 98%; overflow-x: scroll;" *ngIf="visualizarinmuebles; else (visualizarpaquetes? paquetes: (visualizarimagenes? imagenes: seguimiento))">
                <div style="width: 98%;" class="container" *ngIf="estadoformulario == 1">
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button *ngIf="agregarNuevoInmueble && (Role == 3 || Role == 4)" type="submit" class="btn btn-primary btn-lg" style="float: right; padding: 4px 10px;" (click)="agregarinmueble()"><span class='glyphicon glyphicon-plus' data-toggle="tooltip" data-placement="left" title="Agregar nuevo inmueble"></span></button>
                            <input type="text" class="form-control" style="width: 95%;" name="txt_busqueda" placeholder="Busqueda" (keydown)="buscarInmueble($event)" [(ngModel)]="filtroBusqueda">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-sm-10 text-center">
                        </div>
                    </div>
                    <table *ngIf=" estadoformulario==1" style="overflow-x: scroll;" class='table table-striped Tabla'>
                        <thead>
                            <tr>
                                <th style="width: 1%;" *ngIf="false">Inmueble_ID</th>
                                <th style="width: 20%;" *ngIf="IsAuthenticated && Role == 1">Socio</th>
                                <th style="width: 20%;">Ciudad</th>
                                <th style="width: 20%;">Nombre</th>
                                <th style="width: 30%;">Direccion</th>
                                <th style="width: 5%;">Estatus</th>
                                <th style="width: 10%;" *ngIf="IsAuthenticated && Role == 4"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inmueble of inmuebles">
                                <td *ngIf="false">{{ inmueble.id }}</td>
                                <td class="TextoCentrado" *ngIf="IsAuthenticated && Role == 1">{{ inmueble.descripcionSocio }}</td>
                                <td class="TextoCentrado">{{ inmueble.descripcionCiudad }}</td>
                                <td class="TextoIzquierda">{{ inmueble.nombre }}</td>
                                <td class='TextoCentrado'>{{ inmueble.direccion }}</td>
                                <td class='TextoCentrado'>{{ (inmueble.estatus == 1 ? 'Activo': inmueble.estatus == 0 ? 'Inactivo': '') }}</td>
                                <td class="TextoCentrado" *ngIf="IsAuthenticated && Role == 4">
                                    <button type="button" class="btn btn-primary btn-lg" style="padding: 2px 6px;" (click)="consultarinmuebleporid(inmueble.id)"><span class='glyphicon glyphicon-pencil' data-toggle="tooltip" data-placement="bottom" title="Editar inmueble"></span></button>
                                    <button type="button" class="btn btn-danger btn-lg" style="padding: 2px 6px;" (click)="eliminarinmueble(inmueble.id)"><span class='glyphicon glyphicon-trash' data-toggle="tooltip" data-placement="bottom" title="Eliminar inmueble"></span></button>
                                    <button type="button" class="btn btn-warning btn-lg" style="padding: 2px 6px;" (click)="verpaquetes(inmueble.id, inmueble.nombre)"><span class='glyphicon glyphicon glyphicon-list' data-toggle="tooltip" data-placement="bottom" title="Paquetes"></span></button>
                                    <button type="button" class="btn btn-success btn-lg" style="padding: 2px 6px;" (click)="verimagenes(inmueble.id, inmueble.nombre)"><span class='glyphicon glyphicon glyphicon-camera' data-toggle="tooltip" data-placement="bottom" title="Fotos"></span></button>
                                    <button type="button" class="btn btn-info btn-lg" style="padding: 2px 6px;" (click)="verseguimiento(inmueble.id, inmueble.nombre)"><span class='glyphicon glyphicon-screenshot' data-toggle="tooltip" data-placement="bottom" title="Seguimiento"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width: 98%; overflow-x: scroll;" class="container" *ngIf="estadoformulario==2 || estadoformulario==3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well well-sm">
                                <form class="form-horizontal" (submit)="guardarinmueble()" #formularioSocios="ngForm">
                                    <fieldset>
                                        <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">
                                            <span>{{ msjAlertaValidacion }}</span>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_nombre" placeholder="Introducir el nombre del inmueble" [(ngModel)]="inmuebleactivo.nombre" autocomplete="off" required #nombre="ngModel">
                                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                                                    <div *ngIf="nombre.errors.required">
                                                        Nombre es requerido.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputDireccion" class="col-sm-2 col-form-label">Direccion</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_direccion" placeholder="Introducir la dirección del inmueble" [(ngModel)]="inmuebleactivo.direccion" autocomplete="off" #nombre="ngModel">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputReferencias" class="col-sm-2 col-form-label">Referencias</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_referencias" placeholder="Introducir referencias para localizar el inmueble" [(ngModel)]="inmuebleactivo.referencias" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="cmbTipoAmbiente" class="col-sm-2 col-form-label">Tipo</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" [(ngModel)]="inmuebleactivo.ambienteID" name="cmb_ambiente">
                                            <option *ngFor="let ambiente of listaAmbientes" value={{ambiente.id}}>{{ambiente.nombre}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="cmbTipoEstado" class="col-sm-2 col-form-label">Estado</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="cmb_estado" [(ngModel)]="inmuebleactivo.estadoID" (change)="consultarciudades($event.target.value)">
                                            <option *ngFor="let estado of listaEstados" value={{estado.id}}>{{estado.nombre}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="cmbTipoCiudades" class="col-sm-2 col-form-label">Ciudad</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" [(ngModel)]="inmuebleactivo.ciudadID" name="cmb_ciudad" (change)="consultarcolonias($event.target.value)">
                                            <option *ngFor="let ciudad of listaCiudades" value={{ciudad.id}}>{{ciudad.nombre}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputCodigoPostal" class="col-sm-2 col-form-label">Código Postal</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" name="txt_codigo_postal" placeholder="Buscar por código postal" (keyup)="consultarColoniaPorCP($event.target.value)" (blur)="consultarColoniaPorCP($event.target.value)" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control" [(ngModel)]="inmuebleactivo.coloniaID" name="cmb_colonia" (change)="seleccioncolonia($event.target.value)">
                                                <option value="0">(OTRA)</option>
                                                <option *ngFor="let colonia of listaColonias" value={{colonia.coloniaID}}>{{colonia.nombreColonia}}</option>
                                            </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" [(ngModel)]="inmuebleactivo.descripcionColonia" name="txt_colonia" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputHorario" class="col-sm-2 col-form-label">Horario</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_horario" placeholder="Introducir el horario" [(ngModel)]="inmuebleactivo.horario" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">Correo Electrónico</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_email" placeholder="Introducir el correo electrónico" [(ngModel)]="inmuebleactivo.correoElectronico" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputTelefonos" class="col-sm-2 col-form-label">Telefono(s)</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_telefono" placeholder="Introducir el telefono o telefonos" [(ngModel)]="inmuebleactivo.telefono" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputWhatsApp" class="col-sm-2 col-form-label">WhatsApp</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_whatsapp" placeholder="Introducir el whatsapp de contacto" [(ngModel)]="inmuebleactivo.whatsapp" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputFacebook" class="col-sm-2 col-form-label">Facebook</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_facebook" placeholder="Introducir el facebook de contacto" [(ngModel)]="inmuebleactivo.facebook" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputSitioWeb" class="col-sm-2 col-form-label">Sitio web</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_sitioweb" placeholder="Introducir el sitio web" [(ngModel)]="inmuebleactivo.sitioWeb" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputLocalizacion" class="col-sm-2 col-form-label">Localización</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="txt_localizacion" placeholder="Introducir la ruta de maps" [(ngModel)]="inmuebleactivo.localizacion" autocomplete="off" #nombre="ngModel">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputCapacidad" class="col-sm-2 col-form-label">Latitud</label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" name="txt_latitud" placeholder="" [(ngModel)]="inmuebleactivo.latitud" placeholder="">
                                            </div>
                                            <label for="inputCosto" class="col-sm-2 col-form-label">Longitud</label>
                                            <div class="input-group col-sm-4">
                                                <input type="number" class="form-control" name="txt_longitud" [(ngModel)]="inmuebleactivo.longitud" placeholder="">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label for="inputCapacidad" class="col-sm-2 col-form-label">Capacidad</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" name="txt_capacidad" placeholder="No. de personas" [(ngModel)]="inmuebleactivo.capacidad" autocomplete="off" #email="ngModel">
                                            </div>
                                            <label for="inputCosto" class="col-sm-2 col-form-label">Costo por evento</label>
                                            <div class="input-group col-sm-4">
                                                <div class="input-group-addon">$</div>
                                                <input type="text" class="form-control" name="txt_costo" [(ngModel)]="inmuebleactivo.costo" placeholder="Costo">
                                                <div class="input-group-addon">.00</div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="staticEstatus" class="col-sm-2 col-form-label">Estado Activo</label>
                                            <div class="col-sm-10">
                                                <input type="checkbox" class="custom-control-input" name="chk_estatus" [(ngModel)]="inmuebleactivo.estatus">
                                            </div>
                                        </div>
                                        <div class="form-group" style="float: right;">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn btn-success btn-lg glyphicon glyphicon-ok" style="margin: 5px;" data-toggle="tooltip" data-placement="bottom" title="Guardar cambios" [disabled]="!formularioSocios.form.valid"></button>
                                                <button type="button" class="btn btn-danger btn-lg glyphicon glyphicon-remove" (click)="regresaralistado()" data-toggle="tooltip" data-placement="bottom" title="Cancelar"></button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 98%;">
                <ng-template #paquetes>
                    <app-inmuebles-paquetes [inmuebleID]="inmuebleID" [nombreInmueble]="nombreInmueble" (regresarPantalla)="visualizarinmuebles = true"></app-inmuebles-paquetes>
                </ng-template>
            </div>

            <div style="width: 98%;">
                <ng-template #imagenes>
                    <app-inmuebles-imagenes [inmuebleID]="inmuebleID" [nombreInmueble]="nombreInmueble" (regresarPantalla)="visualizarinmuebles = true"></app-inmuebles-imagenes>
                </ng-template>
            </div>

            <div style="width: 98%;">
                <ng-template #seguimiento>
                    <app-inmuebles-seguimiento [inmuebleID]="inmuebleID" [nombreInmueble]="nombreInmueble" (regresarPantalla)="visualizarinmuebles = true"></app-inmuebles-seguimiento>
                </ng-template>
            </div>
        </div>
    </mat-card-content>

</mat-card>