<h1 class="bd-content-title text-center">Seguimiento de : {{nombreInmueble}}</h1>

<button mat-raised-button color="warn" class="salir" (click)="regresar()">Salir</button>
<br />
<br />
<br>
<mat-tab-group>
    <mat-tab label="Eventos">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Ver calendario de eventos</mat-label>
                <input matInput [matDatepicker]="picker" disabled (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker touchUi #picker disabled="false" [dateClass]="dateClass"></mat-datepicker>
            </mat-form-field>
        </p>
        <div *ngIf="mostrarcalificaciones" id="divComentarios" class="contenedorNombreComentarios">
            <p class="cabecera">Detalles de la Reservación</p>
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Reservación a nombre de</mat-label>
                <input matInput [(ngModel)]="nombreSocioReservo" readonly="{{ modo == 1 }}" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Paquete reservado</mat-label>
                <input matInput [(ngModel)]="nombrePaqueteReservo" readonly="{{ modo == 1 }}" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <div *ngIf="modo == 2" id="divBotonesAutoreservar" class="col-md-12 contenedorBotones">
                <button class="btn btn-warning btn-lg" (click)="cancelar()" style="margin: 10px;">Cancelar</button>
                <button class="btn btn-success btn-lg" (click)="autoreservar()" style="margin: 10px;">Autoreservar</button>
            </div>
            <div *ngIf="modo == 3" id="divBotonesEliminar" class="col-md-12 contenedorBotones">
                <button class="btn btn-warning btn-lg" (click)="eliminar()" style="margin: 10px;">Eliminar Reservación</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Calificaciones">
        <div *ngIf="mostrarcalificaciones" id="divComentarios" class="contenedorNombreComentarios">
            <p class="cabecera">Calificaciones del inmueble</p>
        </div>
        <table class='table table-striped Tabla' *ngIf="mostrarcalificaciones">
            <thead>
                <tr>
                    <th style="width: 1%;" *ngIf="false">No_Calificacion</th>
                    <th style="width: 10%;">Calificación</th>
                    <th style="width: 30%;">Fecha</th>
                    <th style="width: 30%;">Nombre</th>
                    <th style="width: 30%;">Comentario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let calificacion of calificaciones">
                    <td *ngIf="false">{{ calificacion.noCalificacion }}</td>
                    <td class="TextoIzquierda">{{ calificacion.valorCalificacion }}</td>
                    <td class="TextoIzquierda">{{ calificacion.fecha.toLocaleDateString() }}</td>
                    <td class="TextoIzquierda">{{ calificacion.socioNombre }}</td>
                    <td class="TextoIzquierda">{{ calificacion.comentario }}</td>
                </tr>
            </tbody>
        </table>
        <br>
    </mat-tab>
</mat-tab-group>