<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" [style.height.px]="scrHeight">
    <div>
        <img style="width: 600px;" src="../../assets/Images/logo.png" alt="BuscoSalon.com" class="img-responsive">
    </div>
    <div class="mat-elevation-z8">
        <mat-card fxFlex="500px" fxFlex.xs="100%">
            <mat-card-title>Iniciar Sesión</mat-card-title>
            <mat-card-content>
                <form [formGroup]="formLogin" (ngSubmit)="Login()">
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Usuario" type="text" formControlName="usuario" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="hasError('usuario', 'required')">
                                Ingrese el usuario
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Contraseña" type="password" formControlName="password">
                            <mat-error *ngIf="hasError('password', 'required')">
                                Ingrese la contraseña
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <div class="button">
                        <div class="form-group col-md-4 offset-md-2">
                            <button mat-raised-button [disabled]="!formLogin.valid" color="primary" type="submit">Iniciar
                          Sesión</button>
                        </div>
                    </div>
                    <div class="button">
                        <div class="form-group col-md-7 offset-md-2">
                            <a [routerLink]='["/registro"]'>
                                <span class='glyphicon'></span> Registrarse
                            </a>

                            <a [routerLink]='["/recuperacion"]'>
                                <span class='glyphicon'></span> Olvide mi Contraseña
                            </a>
                        </div>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>