<!-- Footer -->
<footer class="navbar navbar-default navbar-fixed-bottom">

    <!-- Footer Elements -->
    <div class="container" *ngIf="!IsAuthenticated">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Anuncia tu salón o reserva uno ¡rápido y sencillo!</h5>
            </li>
            <li class="list-inline-item">
                <a href="registro" class="btn btn-outline-white btn-rounded">Registrarme</a>
            </li>
            <li class="list-inline-item">
                <a href="login" class="btn btn-outline-white btn-rounded">Ingresar</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="buscador"> BuscoSalon.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->