<div class="panel panel-default">
    <div class="panel-heading row">
        <div class="media form-group col-md-10">
            <div class="media-left media-middle">
                <img width="180" height="160" src="{{inmueble.src}}" class="elementor-animation-grow attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" (click)="openDialog()">
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{inmueble.nombre}}</h2>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <span class="sr-only">Tipo:</span>{{inmueble.descripcionAmbiente}}<br><br>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <span class="sr-only">Ubicación:</span>{{inmueble.descripcionCiudad}}, {{inmueble.descripcionEstado}}
            </div>
        </div>
        <div class="form-group col-md-2" style="background-color: white;">
            <div class="panel-body">
                <h2 class="text-success text-center">{{ inmueble.costo | currency: 'USD' | lowercase }}</h2>
                <h2 class="text-warning text-center"><span class="glyphicon glyphicon-star text-warning" aria-hidden="true"></span>
                    <span class="sr-only text-warning text-center"></span>{{ inmueble.calificacionPromedio }}</h2>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" (click)="verdetalle()">Ver detalle</button>
                </div>
            </div>
        </div>
    </div>
</div>