<div class='container-fluid'>
    <app-nav-menu *ngIf="IsAuthenticated"></app-nav-menu>    
</div>
<br>
<div class="container theme-showcase" role="main" style="padding-top: 60px; padding-bottom: 250px;">
    <router-outlet></router-outlet>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > BuscoSalon.com </p></ngx-spinner>
<app-footer></app-footer>