.Tabla {
    margin: 15px;
}

.Tabla th {
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
}

.Tabla tr:hover {
    cursor: pointer;
    font-weight: bold;
}

.EstatusActivo {
    color: green;
}

.EstatusInactivo {
    color: red;
}

.TextoCentrado {
    text-align: center;
}

.TextoIzquierda {
    text-align: left;
}

table {
    width: 100%;
  }

  table th {
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
}

table tr:hover {
    cursor: pointer;
    font-weight: bold;
}