<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>
    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">{{estadoformulario == 1 ? 'Listado de Socios Internos' : estadoformulario == 2 ? 'Crear Socio' : 'Editar Socio'}}</h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Agregar Cliente" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div>

            <div id="DivNuevo" style="width: 98%; overflow-x: scroll;" *ngIf="estadoformulario == 1">
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="float: right; padding: 4px 10px;" (click)="agregarsocio()"><span class='glyphicon glyphicon-plus' data-toggle="tooltip" data-placement="left" title="Agregar nuevo socio"></span></button>
                        <mat-form-field>
                            <input matInput placeholder="Busqueda" type="text" style="width: 95%;" (keydown)="buscarSocio($event)" [(ngModel)]="filtroBusqueda">
                        </mat-form-field>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-10 text-center">
                    </div>
                </div>

                <table mat-table [dataSource]="socios" style="overflow-x: scroll;" *ngIf=" estadoformulario==1">

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Socio_ID </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nick">
                        <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.nick}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="paterno">
                        <th mat-header-cell *matHeaderCellDef> Paterno </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.paterno}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="materno">
                        <th mat-header-cell *matHeaderCellDef> Materno </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.materno}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estatus">
                        <th mat-header-cell *matHeaderCellDef> Estatus </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{ (element.estatus == 1 ? 'Activo': element.estatus == 0 ? 'Inactivo': '') }} </td>
                    </ng-container>

                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> <button type="button" class="btn btn-primary btn-lg" style="padding: 2px 6px;" (click)="consultarsocioporid(element.id)"><span class='glyphicon glyphicon-pencil' data-toggle="tooltip" data-placement="bottom" title="Editar socio"></span></button>                            </td>

                    </ng-container>

                    <ng-container matColumnDef="actualizar">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" class="TextoCentrado"> <button type="button" class="btn btn-warning btn-lg" style="padding: 2px 6px;" (click)="restablecerpassword(element.id)"><span class='glyphicon glyphicon-refresh' data-toggle="tooltip" data-placement="bottom" title="Restablecer contraseña del socio"></span></button>                            </td>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"><button type="button" class="btn btn-danger btn-lg" style="padding: 2px 6px;" (click)="eliminarsocio(element.id)"><span class='glyphicon glyphicon-trash' data-toggle="tooltip" data-placement="bottom" title="Eliminar socio"></span></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>


            <div id="DivModificar" style="width: 98%; overflow-x: scroll;" *ngIf="estadoformulario==2 || estadoformulario==3">

                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <form [formGroup]="formularioSocios">
                                <!-- Datos del Socio -->
                                <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)" gutterSize="50px">
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre de Usuario" type="text" formControlName="nick" [(ngModel)]="socioactivo.nick" [errorStateMatcher]="matcher" [readonly]="estadoformulario != 2">
                                            <mat-error *ngIf="hasError('nick', 'required')">
                                                Ingrese el Nombre de Usuario.
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nick', 'nickExist')">
                                                El Nombre de Usuario ya existe!
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nick', 'minlength')">
                                                El Nombre de Usuario debe de ser minimo de 4 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre" type="text" formControlName="nombre" [(ngModel)]="socioactivo.nombre" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="hasError('nombre', 'required')">
                                                Ingrese el Nombre
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nombre', 'minlength')">
                                                El nombre debe de ser minimo de 3 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Paterno" type="text" formControlName="paterno" [(ngModel)]="socioactivo.paterno" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="hasError('paterno', 'required')">
                                                Ingrese el apellido paterno
                                            </mat-error>
                                            <mat-error *ngIf="hasError('paterno', 'minlength')">
                                                El apellido paterno debe de ser minimo de 4 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Materno" type="text" formControlName="materno" [(ngModel)]="socioactivo.materno" [errorStateMatcher]="matcher" />
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="E-mail" type="email" formControlName="email" [(ngModel)]="socioactivo.email" ngModel email="true" [errorStateMatcher]="matcher" [readonly]="estadoformulario != 2">
                                            <mat-error *ngIf="hasError('email', 'required')">
                                                Ingrese su E-mail
                                            </mat-error>
                                            <mat-error *ngIf="hasError('email', 'emailExist')">
                                                El Email ya existe!
                                            </mat-error>
                                            <mat-error *ngIf="hasError('email', 'email')">
                                                E-mail no valido
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="WhatsApp" type="text" formControlName="whatsapp" [(ngModel)]="socioactivo.whatsApp" [errorStateMatcher]="matcher" />
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>

                                <div>
                                    <mat-card>
                                        <mat-card-content>
                                            <section class="example-section">
                                                <mat-checkbox formControlName="PagoConT" class="example-margin" [(ngModel)]="socioactivo.acepta_Pago_Tarjeta">Acepto Pago con tarjeta</mat-checkbox>
                                                <br/>
                                                <br/>
                                                <input [class.is-invalid]="clabe.invalid && clabe.touched" [(ngModel)]="socioactivo.cuenta_Clabe" matInput placeholder="Ingrese su cuenta clabe" type="text" formControlName="clabe" [disabled]="PagoTarjeta">
                                            </section>
                                        </mat-card-content>
                                    </mat-card>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <!-- Botones -->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="button" style="position: absolute; right: 128px;">
                        <button mat-raised-button (click)="guardarsocio()" color="primary" type="submit">Guardar</button>
                    </div>
                    <div class="button" style="position: absolute; right: 27px;">
                        <button mat-raised-button color="Accent" (click)="regresaralistado()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>