.Tabla {
    margin: 15px;
}

.Tabla th {
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
}

.Tabla tr:hover {
    cursor: pointer;
    font-weight: bold;
}

.EstatusActivo {
    color: green;
}

.EstatusInactivo {
    color: red;
}

.TextoCentrado {
    text-align: center;
}

.TextoIzquierda {
    text-align: left;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-container .mat-form-field {
    width: 220px;
}

.example-container form {
    margin-bottom: 20px;
}

.example-container form>* {
    margin: 5px 0;
}

.example-container .mat-radio-button {
    margin: 0 12px;
}
table {
    width: 100%;
  }

  table th {
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
}

table tr:hover {
    cursor: pointer;
    font-weight: bold;
}