<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>

    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">
                Mis Datos Personales
            </h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Mi Perfil" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation-z8 basic-container">
            <div class="container" style="width: 98%;">
                <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">
                    <span>{{ msjAlertaValidacion }}</span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <form class="form-horizontal" [formGroup]="formularioPerfil">
                                <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)" gutterSize="50px">
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre de Usuario" type="text" formControlName="nick" [(ngModel)]="usuarioactivo.nick" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="hasError('nick', 'required')">
                                                Ingrese el Nombre de Usuario.
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nick', 'nickExist')">
                                                El Nombre de Usuario ya existe!
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nick', 'minlength')">
                                                El Nombre de Usuario debe de ser minimo de 4 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre" type="text" formControlName="nombre" [(ngModel)]="usuarioactivo.nombre" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="hasError('nombre', 'required')">
                                                Ingrese el Nombre
                                            </mat-error>
                                            <mat-error *ngIf="hasError('nombre', 'minlength')">
                                                El nombre debe de ser minimo de 6 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Paterno" type="text" formControlName="paterno" [(ngModel)]="usuarioactivo.paterno" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="hasError('paterno', 'required')">
                                                Ingrese el Apellido Paterno
                                            </mat-error>
                                            <mat-error *ngIf="hasError('paterno', 'minlength')">
                                                El Apellido Paterno debe de ser minimo de 4 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Materno" type="text" formControlName="materno" [(ngModel)]="usuarioactivo.materno" [errorStateMatcher]="matcher" />
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Contraseña" type="password" [(ngModel)]="usuarioactivo.password" formControlName="pass" [errorStateMatcher]="matcher" [readonly]="true">
                                            <mat-error *ngIf="hasError('pass', 'required')">
                                                Ingrese su Contraseña
                                            </mat-error>
                                            <mat-error *ngIf="hasError('pass', 'minlength')">
                                                La contraseña debe de ser minimo de 6 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <a mat-raised-button [routerLink]='["/actualizatupassword"]'>Cambiar tu Contraseña</a>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="E-mail" type="email" formControlName="email" [(ngModel)]="usuarioactivo.email" ngModel email="true" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="hasError('email', 'required')">
                                                Ingrese su E-mail
                                            </mat-error>
                                            <mat-error *ngIf="hasError('email', 'emailExist')">
                                                El Email ya existe!
                                            </mat-error>
                                            <mat-error *ngIf="hasError('email', 'email')">
                                                E-mail no valido
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Ingrese su cuenta clabe" type="text" formControlName="clabe" [(ngModel)]="usuarioactivo.cuenta_Clabe">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Numero de salones" type="number" max="99" maxlength="2" formControlName="NoSalones" [(ngModel)]="usuarioactivo.noSalones" [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Numero de referencia" type="text" formControlName="noReferencia" [(ngModel)]="usuarioactivo.noReferencia" [errorStateMatcher]="matcher" [readonly]="true">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile *ngIf="EsSocio">
                                        <mat-form-field>
                                            <input matInput placeholder="WhatsApp para contacto" type="text" formControlName="whatsApp" [(ngModel)]="usuarioactivo.whatsApp" [errorStateMatcher]="matcher" />
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </form>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <!-- Botones -->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="button" style="position: absolute; right: 128px;">
                        <button mat-raised-button [disabled]="!formularioPerfil.valid" color="primary" type="submit" (click)="ModificarPerfil()">Guardar</button>
                    </div>
                    <div class="button" style="position: absolute; right: 27px;">
                        <button mat-raised-button color="Accent" [routerLink]='["/home"]'>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>