    .img-responsive {
        width: 600px;
    }
    
    .resultadosBusquedaUl {
        list-style: none;
    }
    
    .listResultados {
        left: -50px;
        position: relative;
        width: 100%;
    }
    
    .paddin15 {
        padding: 15px !important;
    }
    
    .text-center-filtro {
        padding: 3px;
    }
    
    .ancho-maximo {
        width: 100%!important;
    }