<div>
    <div>
        <div *ngIf="!IsAuthenticated" class="row img-responsive center-block">
            <a href="buscador"><img src="../../assets/Images/logo.png" alt="BuscoSalon.com" class="img-responsive"></a>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="txtEstado" placeholder="Ingrese el Estado" style="width: 100%;" [(ngModel)]="buscarEstado" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="txtCiudad" placeholder="Ingrese la Ciudad, Localidad ó Colonia" style="width: 100%;" [(ngModel)]="buscarCiudad" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" style="width: 100%;" [(ngModel)]="buscarAmbiente" [ngModelOptions]="{standalone: true}">
                        <option value="0">CUALQUIERA</option>
                        <option *ngFor="let ambiente of listaAmbientes" value={{ambiente.id}}>{{ambiente.nombre}}</option>
                    </select >
                </div>
                <div class="form-group col-md-1 text-center">
                    <button type="submit" class="btn sample btn-lg btn-sample" (click)="buscarinmuebles();">Buscar</button>
                </div>
            </form>
        </div>   

        <div class="row panel panel-primary paddin15">
            <div class="text-center text-center-filtro">
                <form class="form-inline">
                    <div class="form-group col-md-3">
                        <input type="number" class="form-control ancho-maximo" id="preciomaximoinput" placeholder="Precio Máximo" [(ngModel)]="precioMaximo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-5">
                        <label>
                        <input type="checkbox" [(ngModel)]="incluirMesas"[ngModelOptions]="{standalone: true}"> Incluir Mesas  
                        </label>&nbsp;&nbsp;
                        <label>
                        <input type="checkbox"[(ngModel)]="incluirMeseros" [ngModelOptions]="{standalone: true}"> Incluir Meseros
                        </label>&nbsp;&nbsp;
                        <label>
                        <input type="checkbox"[(ngModel)]="incluirManteles" [ngModelOptions]="{standalone: true}"> Incluir Manteles
                        </label>
                    </div>
                    <div class="form-group col-md-3">Ordernar
                        <select class="form-control" name="cmb_elegibles" [(ngModel)]="orderBy" [ngModelOptions]="{standalone: true}">
                            <option value="0">Calificación</option>
                            <option value="1">Menor precio</option>
                            <option value="2">Mayor precio</option>
                            <option value="3">Alfabetico A-Z</option>
                            <option value="4">Alfabetico Z-A</option>
                        </select>
                </div>
                <div class="form-group col-md-1">
                    <button type="submit" class="btn btn-info" (click)="filtrar()">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div>
            <anuncio-slider></anuncio-slider>
        </div>
        <br>
        <ul *ngIf="inicial; else detalle" class="resultadosBusquedaUl">
            <li *ngFor="let inmueble of listaInmuebles" class="listResultados">
                <app-buscador-resultado [inmueble]="inmueble" (inmuebleregresar)="inicial = false;"></app-buscador-resultado>
            </li>
        </ul>
        <div *ngIf="inicial" class="row">
            <div *ngIf="listaInmuebles.length==0" class="panel panel-warning">
                <div class="panel-body">
                    No se encontraron resultados
                </div>
            </div>
        </div>
        <div *ngIf="inicial" class="row text-center">
            <button *ngIf="pagina>1" class="btn btn-default btn-lg" type="submit" (click)="anterior()">Anterior</button> <label class="control-label">Página: {{pagina}}</label> <button *ngIf="listaInmuebles.length>0" class="btn btn-default btn-lg" type="submit"
                (click)="siguiente()">Siguiente</button>
        </div>
        <br>
        <ng-template #detalle>
            <div class="resultadosBusquedaDetalle ">
                <app-buscador-resultado-detalle (regresarPantalla)="inicial=true;"></app-buscador-resultado-detalle>
            </div>
        </ng-template>
    </div>
</div>
</div>