<div *ngIf="inicial; else listado">
    <div>
        <div class="row img-responsive center-block">
            <a href="buscador"><img src="../../assets/Images/logo.png" alt="BuscoSalon.com" class="img-responsive"></a>
        </div>
        <div>
            <form class="form-horizontal">
                <div class="row ">
                    <div class="form-group col-md-4">
                        <input type="text " class="form-control align-middle" id="txtEstado " placeholder="Ingrese el Estado " [(ngModel)]="buscarEstado" [ngModelOptions]="{standalone: true} ">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text " class="form-control " id="txtCiudad " placeholder="Ingrese la Ciudad, Localidad ó Colonia " [(ngModel)]="buscarCiudad " [ngModelOptions]="{standalone: true} ">
                    </div>
                    <div class="form-group col-md-3">
                        <select class="form-control " [(ngModel)]="buscarAmbiente " [ngModelOptions]="{standalone: true} ">
                            <option value="0">CUALQUIERA</option>
                            <option *ngFor="let ambiente of listaAmbientes " value={{ambiente.id}}>{{ambiente.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1 text-center">
                        <button type="submit " class="btn sample btn-lg btn-sample " (click)="ejecutarBuscar() ">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <ng-template #listado>
        <app-buscador-listado [buscarEstado]="buscarEstado" [buscarCiudad]="buscarCiudad" [buscarAmbiente]="buscarAmbiente"></app-buscador-listado>
    </ng-template>
</div>