<div *ngIf="!IsAuthenticated && Role != 1" class="row">
    <div class="divBienvenido">
        <div class="transbox">
            <p>Bienvenido</p>
        </div>
    </div>
</div>
<div *ngIf="IsAuthenticated && Role == 1" class="row">
    <div class="divHomeAdministrador">
        <ul class="list-group">
            <li class="list-group-item"><a [routerLink]='["/activasocios"]'><span class='glyphicon glyphicon-user'></span> Activación de nuevos socios</a></li>
            <li class="list-group-item"><a [routerLink]='["/anuncio"]'><span class='glyphicon glyphicon-bullhorn'></span> Subir anuncios</a></li>
            <li class="list-group-item">
                <a [routerLink]='["/anuncio-aplicar"]'> <span class='glyphicon glyphicon-bell'></span> Activar anuncios</a>
            </li>
        </ul>
    </div>
</div>