.divBienvenido {
    font-size: -webkit-xxx-large;
    text-align: center;
    text-shadow: 8px 5px 7px #000;
    padding-top: 10%;
    background-image: url(/assets/Images/imagen_central.jpg);
    height: 450px;
    background-position: bottom;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #dadada;
}

.divHomeAdministrador ul {
    font-size: -webkit-large;
    padding-top: 10%;
    list-style: none;
}

.divHomeAdministrador ul :hover {
    background-color: #5599dd;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.divHomeAdministrador ul li {
    font-size: -webkit-large;
}

.divHomeAdministrador ul li :hover {
    color: white;
}

.divHomeAdministrador ul li a {
    color: black;
}