

<div class="container">

  <div class="well well-sm">
     
    <form [formGroup]="tipoAmbienteForm">
          
      <fieldset>
          <legend class="text-center header">
                {{tipoAmbienteObject.ambiente_ID == 0 ? 'Crear Tipo Ambiente': 'Editar Tipo Ambiente'}}
          </legend>
       
         <div class="form-group">
            <label>Tipo Ambiente</label>
            <input class="form-control" formControlName="Nombre" />
            <show-errors [control]="tipoAmbienteForm.controls.Nombre"></show-errors>
         </div>
     

        <div class="form-group">
           <label>Estatus </label>
           <select class="form-control" formControlName="Estatus">
           <option value="">SELECCIONE</option>
           <option value="ACTIVO">ACTIVO</option>
           <option value="INACTIVO">INACTIVO</option>
          </select>
          <show-errors [control]="tipoAmbienteForm.controls.Estatus"></show-errors>
        </div>

    


     <div class="form-group" style="float: right;">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-success btn-lg glyphicon glyphicon-ok" style="margin: 5px;" (click)="guardar()" [disabled]="!tipoAmbienteForm.valid" data-toggle="tooltip" data-placement="bottom" title="Guardar cambios"></button>
            <button type="button" class="btn btn-danger btn-lg glyphicon glyphicon-remove" (click)="regresar()" data-toggle="tooltip" data-placement="bottom" title="Cancelar"></button>
         </div>
      </div> 
     </fieldset> 
   </form>

  </div>

</div>

<loading-show [showModal]="loading"> </loading-show>