
<div class="container">

  <div class="well well-sm">
    <form [formGroup]="coloniaForm">
        <fieldset>
            <legend class="text-center header">
                {{coloniaObject.colonia_ID == 0 ? 'Crear Colonia': 'Editar Colonia'}}
    
               </legend>

            <div class="form-group">
                <label>Ciudad</label>
                <select class="form-control" formControlName="Ciudad_ID">
                 <option value="">SELECCIONE</option>
                 <option *ngFor="let ciudad of listadoCiudad" value="{{ciudad.id}}"> {{ciudad.name}}</option>
                </select>
                <show-errors [control]="coloniaForm.controls.Ciudad_ID"></show-errors>
            </div>
             
            <div class="form-group">
               <label>Tipo Colonia</label>
               <select class="form-control" formControlName="Tipo">
                <option value="">SELECCIONE</option>
                <option *ngFor="let item of listadoTipoColonia" value="{{item.name}}"> {{item.name}}</option>
               </select>
               <show-errors [control]="coloniaForm.controls.Tipo"></show-errors>
            </div>

            <div class="form-group">
              <label>Nombre Colonia</label>
              <input class="form-control" formControlName="Nombre" />
              <show-errors [control]="coloniaForm.controls.Nombre"></show-errors>
            </div>

            <div class="form-group">
              <label>C&oacute;digo Postal</label>
              <input  class="form-control" formControlName="Codigo_Postal" />
              <show-errors [control]="coloniaForm.controls.Codigo_Postal"></show-errors>
            </div>

            <div class="form-group">
                <label>Estatus </label>
                <select class="form-control" formControlName="Estatus">
                <option value="">SELECCIONE</option>
                <option value="ACTIVO">ACTIVO</option>
                <option value="INACTIVO">INACTIVO</option>
               </select>
               <show-errors [control]="coloniaForm.controls.Estatus"></show-errors>
            </div>    

            <div class="form-group" style="float: right;">
                <div class="col-md-12 text-center">
                  <button type="button" class="btn btn-success btn-lg glyphicon glyphicon-ok" style="margin: 5px;" (click)="guardar()" [disabled]="!coloniaForm.valid" data-toggle="tooltip" data-placement="bottom" title="Guardar cambios"></button>
                  <button type="button" class="btn btn-danger btn-lg glyphicon glyphicon-remove" (click)="regresar()" data-toggle="tooltip" data-placement="bottom" title="Cancelar"></button>
               </div>
            </div>     

        </fieldset>

    </form>
  </div>

</div>

<loading-show [showModal]="loading"> </loading-show>