
<div *ngIf="visualizarMode; else editor">

    <div class="row">
        <div class="col-md-11 col-sm-9 col-xs-9" >
            <h1 class="bd-content-title text-center">Colonias</h1>
          </div>
        <div class="col-md-1 col-sm-3 col-xs-3">
          <button class="btn btn-primary" (click)="nuevoElemento()">
            Nuevo
         </button>
        </div>
    </div>

    
<filtro-search-componente [paginacionObject]="paginacion" [filtroObject]="filtros"></filtro-search-componente>

<div class="form-group row">
    <div class="col-sm-10 text-center">
    </div>
</div>


<table class="table table-striped Tabla">
   <thead>
       <tr>
        <th>Ciudad</th>
        <th>Colonia</th>
        <th>Tipo </th>
        <th>Código </th>
        <th>Estatus</th>
        <th></th>
       </tr>
   </thead>
   <tbody>
       <tr *ngFor = "let item of coloniaLista; let i=index">
        <td>{{  item.nombre_Ciudad}}</td>
        <td>{{  item.nombre}}</td>
        <td>{{  item.tipo}}</td>
        <td>{{  item.codigo_Postal}}</td>
        <td>{{  item.estatus}}</td>
        <td>
            <button type="button" class="btn btn-primary btn-lg" style="padding: 2px 6px;" (click)="seleccionarElemento(item)"><span class='glyphicon glyphicon-pencil' data-toggle="tooltip" data-placement="bottom" title="Editar Colonia"></span></button>
          </td>
       </tr>
   </tbody>

</table>

<paginacion-componente [paginacionObject]="paginacion"></paginacion-componente>



</div>

<div>
    <ng-template #editor>
        <colonia-editor [coloniaObject]="coloniaEntidad" [visualizar]="visualizar"></colonia-editor>
    </ng-template>
</div>

<loading-show [showModal]="loading"> </loading-show>