<div id="divContenedor" class="contenedorResultado">
    <div id="divNombreInmueble" class="contenedorNombreInmueble">
        <p>Reservación de inmueble: {{inmueble.nombre}}</p>
    </div>
    <div id="divTipoInmueble" class="contenedorRubroDetalle">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span class="sr-only">Tipo:</span>Tipo del inmueble: {{inmueble.descripcionAmbiente}}
    </div>
    <div id="divUbicacionInmueble" class="contenedorRubroDetalle">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <span class="sr-only">Ubicación:</span>Localización: {{inmueble.direccion}} {{inmueble.descripcionColonia}}. {{inmueble.descripcionCiudad}}, {{inmueble.descripcionEstado}}
    </div>
    <div id="divCapacidadInmueble" class="contenedorRubroDetalle">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="sr-only">Ubicación:</span>Capacidad: {{inmueble.capacidad}}
    </div>
    <div id="divHorarioInmueble" class="contenedorRubroDetalle">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span class="sr-only">Ubicación:</span>Horario: {{inmueble.horario}}
    </div>
    <div id="divFechaReservacion" class="contenedorRubroDetalle">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span class="sr-only">Fecha:</span>Fecha: {{reservacion.fechaReservacionInicia | date :'dd-MM-yyyy'}}
    </div>
    <br>
    <div id="divNombreInmueble" class="contenedorRubroDetalle">
        <p>Paquete elegido: {{paquete.nombre}} || Precio: {{ reservacion.costo | currency: 'USD' | lowercase }}</p>
    </div>
    <div id="divCapacidadInmueble" class="contenedorRubroDetalle">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        <span class="sr-only">Estado:</span>Estado: {{reservacion.estatus == 1? 'Pendiente' : reservacion.estatus == 2? 'Aceptada' : reservacion.estatus == 3? 'Rechazada':'Calificada'}}
    </div>
    <br>
    <br>
    <div *ngIf="modo == 1" id="divBotonesAutorizar" class="col-md-12 contenedorBotones">
        <button class="btn btn-warning btn-lg" (click)="regresar()" style="margin: 10px;">Regresar</button>
        <button class="btn btn-danger btn-lg" (click)="cancelar()" style="margin: 10px;">Cancelar</button>
        <button class="btn btn-success btn-lg" (click)="autorizar()" style="margin: 10px;">Aceptar</button>
    </div>
    <div *ngIf="modo == 2" id="divBotonesAutorizar" class="col-md-12 contenedorBotones">
        <button class="btn btn-warning btn-lg" (click)="regresar()" style="margin: 10px;">Regresar</button>
    </div>
    <form *ngIf="modo == 3" class="form-inline">
        <div class="form-group col-md-4">
            <label for="cmbCalificacion">Calificación</label>
            <select class="form-control" style="width: 100%;" id="cmbCalificacion" [(ngModel)]="calificacion" [ngModelOptions]="{standalone: true}">
                <option value="5">5 ESTRELLAS</option>
                <option value="4">4 ESTRELLAS</option>
                <option value="3">3 ESTRELLAS</option>
                <option value="2">2 ESTRELLAS</option>
                <option value="1">1 ESTRELLA</option>
            </select >
        </div>
        <div class="form-group col-md-8">
            <label for="txtComentarios">Comentario</label>
            <input type="text" class="form-control" id="txtComentarios" placeholder="Introducir recomendaciones" style="width: 100%;" [(ngModel)]="comentarios" [ngModelOptions]="{standalone: true}">
        </div>
    </form>
    <div *ngIf="modo == 3" id="divBotonesCalificar" class="col-md-12 contenedorBotones">
        <button class="btn btn-warning btn-lg" (click)="regresar()" style="margin: 10px;">Regresar</button>
        <button class="btn btn-success btn-lg" (click)="calificar()" style="margin: 10px;">Calificar</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>