<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">Reservaciones pendientes por autorizar</h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false"
            aria-label="Reservaciones pendientes por autorizar" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div style="width: 98%; overflow-x: scroll;">

            <table *ngIf="inicial; else detalle" class='table table-striped Tabla' style="overflow-x: scroll;">
                <thead>
                    <tr>
                        <th style="width: 1%;" *ngIf="false">Paquete_ID</th>
                        <th style="width: 30%;">Inmueble</th>
                        <th style="width: 10%;">Paquete</th>
                        <th style="width: 40%;">Solicita</th>
                        <th style="width: 10%;">Costo</th>
                        <th style="width: 10%;">Fecha</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reservacion of reservaciones">
                        <td *ngIf="false">{{ reservacion.noReservacion }}</td>
                        <td class="TextoIzquierda">{{ reservacion.inmuebleNombre }}</td>
                        <td class="TextoCentrado">{{ reservacion.paqueteNombre }}</td>
                        <td class="TextoIzquierda">{{ reservacion.socioNombre }}</td>
                        <td class="TextoCentrado">{{ reservacion.costo | currency: 'USD' | lowercase }}</td>
                        <td class="TextoCentrado">{{ reservacion.fechaReservacionInicia | date :'dd-MM-yyyy' }}</td>
                        <td class="TextoCentrado"><button type="button" class="btn btn-success btn-lg"
                                style="padding: 2px 6px;" (click)="verreservacion(reservacion)"><span
                                    class='glyphicon glyphicon-ok' data-toggle="tooltip" data-placement="bottom"
                                    title="Ver reservación"></span></button></td>
                    </tr>
                </tbody>
            </table>
            <ng-template #detalle>
                <app-reservacion [reservacion]="reservacionSeleccionada" [modo]="1"
                    (regresarPantalla)="inicial = true; consultarreservaciones();"></app-reservacion>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>