.contenedorNombreInmueble {
    color: rgb(0, 0, 0);
    font-family: Finland;
    font-size: 18pt;
    font-weight: bold;
    background-color: #f3eeee;
    padding: 10px;
    text-align: center;
}

.contenedorRubroDetalle {
    color: #333;
    font-family: "Helvetica", Sans-serif;
    font-size: 13pt;
    font-weight: normal;
    padding: 10px;
}

.contenedorCostoInmueble {
    color: rgb(0, 134, 83);
    font-family: "Helvetica", Sans-serif;
    font-size: 13pt;
    font-weight: normal;
    padding: 10px;
}

.contenedorCostoElegido {
    color: rgb(0, 134, 83);
    font-family: "Helvetica", Sans-serif;
    font-size: 13pt;
    font-weight: normal;
    width: 30%;
}

.contenedorResultado {
    min-height: "500px"
}

.contenedorNombrePaquetes {
    color: rgb(0, 0, 0);
    font-family: Finland;
    font-size: 18pt;
    font-weight: bold;
    background-color: #90c9ff;
    padding: 10px;
    text-align: center;
}

.contenedorBotones {
    left: 40%;
    position: relative;
}

.contenedorCarrusel {
    width: max-content;
}