.Tabla {
    margin: 15px;
}

.Tabla th {
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
}

.Tabla tr:hover {
    cursor: pointer;
    font-weight: bold;
}

.EstatusActivo {
    color: green;
}

.EstatusInactivo {
    color: red;
}

.TextoCentrado {
    text-align: center;
}

.TextoIzquierda {
    text-align: left;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
    padding: 8px;
}

.example-container .mat-checkbox {
    margin-left: 8px;
    padding: 8px;
}

.example-container .mat-form-field {
    width: 100%;
}

.example-container form {
    margin-bottom: 20px;
}

.example-container form>* {
    margin: 5px 0;
}

.agregar {
    margin: 10px;
    background-color: darkslategray;
}

.salir {
    margin: 10px;
    background-color: silver;
    color: #000;
}

.guardar {
    margin: 10px;
    background-color: darkslategray;
}

.cancelar {
    margin: 10px;
    background-color: silver;
    color: #000;
}