<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>
    <mat-card-header>
        <mat-card-title>Cambiar tu Contraseña</mat-card-title>
        <mat-card-subtitle>BuscoSalon.com</mat-card-subtitle>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Cambiar Contraseña">home</mat-icon>
    </mat-card-header>
  <mat-card-content>
      <div class="mat-elevation-z8 basic-container">
          <form [formGroup]="formActualizaPass">
              <!-- Datos del cliente -->
              <mat-grid-list cols="1" rowHeight="100px" gutterSize="50px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Escribe tu contraseña actual" type="password" formControlName="actualpass" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="hasError('actualpass', 'required')">
                            Ingrese su Contraseña actual
                        </mat-error>
                        <mat-error *ngIf="hasError('actualpass', 'minlength')">
                            La contraseña debe de ser minimo de 6 caracteres.
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Escribe tu contraseña nueva" type="password" formControlName="nuevapass" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="hasError('nuevapass', 'required')">
                            Ingrese tu nueva Contraseña
                        </mat-error>
                        <mat-error *ngIf="hasError('nuevapass', 'minlength')">
                            La contraseña debe de ser minimo de 6 caracteres.
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Repite tu Contraseña nueva" type="password" formControlName="confirm">
                        <mat-error *ngIf="hasError('confirm', 'required')">
                            Confirme tu nueva Contraseña
                        </mat-error>
                        <mat-error *ngIf="hasError('confirm', 'passwordMismatch')">
                            No coinciden las Contraseñas
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
          </form>

          <!-- Botones -->
          <div fxLayout="row" fxLayoutAlign="start center">
              <div class="button" style="position: absolute; right: 128px;">
                  <button mat-raised-button [disabled]="!formActualizaPass.valid" (click)="Confirmar()" color="primary" type="submit">Guardar</button>
              </div>
              <div class="button" style="position: absolute; right: 27px;">
                  <button mat-raised-button color="Accent" (click)="cancelar()">Cancelar</button>
              </div>
          </div>
      </div>
  </mat-card-content>
</mat-card>