<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>
    <mat-card-header>
        <mat-card-title>
            <h1>Registro de Usuario</h1>
        </mat-card-title>
        <mat-card-subtitle><img style="width: 120px;" src="../../assets/Images/logo.png" alt="BuscoSalon.com"></mat-card-subtitle>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Agregar Cliente" [routerLink]='["/login"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando">
            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="mat-elevation-z8 basic-container" style="overflow-x: scroll;">
            <form [formGroup]="formAgregarCliente">
                <!-- Datos del cliente -->
                <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)" gutterSize="50px">
                    <mat-grid-tile>
                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Nombre de Usuario" type="text" formControlName="nick" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="hasError('nick', 'required')">
                                Ingrese su Nombre de Usuario.
                            </mat-error>
                            <mat-error *ngIf="hasError('nick', 'nickExist')">
                                El Nombre de Usuario ya existe!
                            </mat-error>
                            <mat-error *ngIf="hasError('nick', 'minlength')">
                                El Nombre de Usuario debe de ser minimo de 4 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Nombre" type="text" formControlName="nombre" [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="hasError('nombre', 'required')">
                                Ingrese el Nombre
                            </mat-error>
                            <mat-error *ngIf="hasError('nombre', 'minlength')">
                                El nombre debe de ser minimo de 3 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput placeholder="Paterno" type="text" formControlName="paterno" [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="hasError('paterno', 'required')">
                                Ingrese el Apellido Paterno
                            </mat-error>
                            <mat-error *ngIf="hasError('paterno', 'minlength')">
                                El Apellido Paterno debe de ser minimo de 4 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput placeholder="Materno" type="text" formControlName="materno" [errorStateMatcher]="matcher" />
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput placeholder="E-mail" type="email" formControlName="email" ngModel email="true" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="hasError('email', 'required')">
                                Ingrese su E-mail
                            </mat-error>
                            <mat-error *ngIf="hasError('email', 'emailExist')">
                                El Email ya existe!
                            </mat-error>
                            <mat-error *ngIf="hasError('email', 'email')">
                                E-mail no valido
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput placeholder="Contraseña" type="password" formControlName="pass" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="hasError('pass', 'required')">
                                Ingrese su Contraseña
                            </mat-error>
                            <mat-error *ngIf="hasError('pass', 'minlength')">
                                La contraseña debe de ser minimo de 6 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput placeholder="Confirmar Contraseña" type="password" formControlName="confirm">
                            <mat-error *ngIf="hasError('confirm', 'required')">
                                Confirme su Contraseña
                            </mat-error>
                            <mat-error *ngIf="hasError('confirm', 'passwordMismatch')">
                                No coinciden las Contraseñas
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput placeholder="WhatsApp" type="text" formControlName="whatsApp" />
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <label id="example-radio-group-label">¿Que es lo que deseas hacer?</label>
                <br/>
                <mat-card-content>
                    <span class="example-list-section">
                    <ul>
                        <li>
                            <mat-checkbox formControlName="reservaS" class="example-margin" [(ngModel)]="reservaSalon">Reservar Salon</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox formControlName="inmuebles" class="example-margin" [(ngModel)]="PInmuebles">Publicar mis Salones</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox formControlName="Publicidad" class="example-margin" [(ngModel)]="PAnuncios">Publicar mis Anuncios</mat-checkbox>
                        </li>
                    </ul>
                  <br/>
                  <br/>
                </span>
                </mat-card-content>

                <div style="overflow-x: scroll;" [hidden]="!PInmuebles">
                    <mat-card>
                        <mat-card-content>
                            <section class="example-section">
                                <mat-checkbox formControlName="PagoConT" class="example-margin" [(ngModel)]="PagoTarjeta">Acepto Pago con tarjeta</mat-checkbox>
                                <br/>
                                <br/>
                                <input [class.is-invalid]="clabe.invalid && clabe.touched" matInput placeholder="Ingrese su cuenta clabe" type="text" formControlName="clabe" [disabled]="PagoTarjeta">
                            </section>
                        </mat-card-content>
                    </mat-card>
                    <br/>
                    <br/>
                    <mat-card>
                        <mat-card-content>
                            <input matInput placeholder="Numero de salones" type="number" max="99" maxlength="2" formControlName="NoSalones" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="hasError('NoSalones', 'required')">
                                Ingrese el numero de salones que desea publicar.
                            </mat-error>
                        </mat-card-content>
                    </mat-card>
                </div>
            </form>
            <br/>
            <br/>
            <!-- Botones -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="button" style="position: absolute; right: 128px;">
                    <button mat-raised-button [disabled]="!formAgregarCliente.valid" (click)="AgregarUsuario()" color="primary" type="submit">Guardar</button>
                </div>
                <div class="button" style="position: absolute; right: 27px;">
                    <button mat-raised-button color="Accent" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>