<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>

    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">Activar Socios</h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Agregar Cliente" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div id="DivNuevo" style="width: 98%; overflow-x: scroll;" *ngIf="estadoformulario == 1">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <mat-form-field>
                        <input matInput placeholder="Busqueda" type="text" style="width: 95%;" (keydown)="buscarSocio($event)" [(ngModel)]="filtroBusqueda">
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-10 text-center">
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" style="overflow-x: scroll;" *ngIf=" estadoformulario==1">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Nick">
                    <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
                    <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.nick}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.nombre}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Paterno">
                    <th mat-header-cell *matHeaderCellDef> Paterno </th>
                    <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.paterno}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Materno">
                    <th mat-header-cell *matHeaderCellDef> Materno </th>
                    <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.materno}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Estatus">
                    <th mat-header-cell *matHeaderCellDef> Estatus </th>
                    <td mat-cell *matCellDef="let element" class="TextoCentrado"> {{element.estatus}} </td>
                </ng-container>


                <ng-container matColumnDef="Activar">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="TextoCentrado"> <button type="button" class="btn btn-success btn-lg" style="padding: 2px 6px;" (click)="consultarsocioporid(element.id)"><span class='glyphicon glyphicon-ok' data-toggle="tooltip" data-placement="bottom" title="Activar Socio"></span></button>                        </td>

                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <div id="DivModificar" style="width: 98%;" class="container" *ngIf="estadoformulario==2 || estadoformulario==3">

            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form [formGroup]="formularioSocios">
                            <!-- Datos del Socio -->
                            <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)" gutterSize="50px">
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput placeholder="Nombre de Usuario" type="text" formControlName="nick" [(ngModel)]="socioactivo.nick" [errorStateMatcher]="matcher" [readonly]="true">
                                        <mat-error *ngIf="hasError('nick', 'required')">
                                            Ingrese el Nombre de Usuario.
                                        </mat-error>
                                        <mat-error *ngIf="hasError('nick', 'nickExist')">
                                            El Nombre de Usuario ya existe!
                                        </mat-error>
                                        <mat-error *ngIf="hasError('nick', 'minlength')">
                                            El Nombre de Usuario debe de ser minimo de 4 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput placeholder="Nombre" type="text" formControlName="nombre" [(ngModel)]="socioactivo.nombre" [errorStateMatcher]="matcher" [readonly]="true" />
                                        <mat-error *ngIf="hasError('nombre', 'required')">
                                            Ingrese el Nombre
                                        </mat-error>
                                        <mat-error *ngIf="hasError('nombre', 'minlength')">
                                            El nombre debe de ser minimo de 3 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput placeholder="Paterno" type="text" formControlName="paterno" [(ngModel)]="socioactivo.paterno" [errorStateMatcher]="matcher" [readonly]="true" />
                                        <mat-error *ngIf="hasError('paterno', 'required')">
                                            Ingrese el apellido paterno
                                        </mat-error>
                                        <mat-error *ngIf="hasError('paterno', 'minlength')">
                                            El apellido paterno debe de ser minimo de 4 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput placeholder="Materno" type="text" formControlName="materno" [(ngModel)]="socioactivo.materno" [errorStateMatcher]="matcher" [readonly]="true" />
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput placeholder="E-mail" type="email" formControlName="email" [(ngModel)]="socioactivo.email" ngModel email="true" [errorStateMatcher]="matcher" [readonly]="true">
                                        <mat-error *ngIf="hasError('email', 'required')">
                                            Ingrese su E-mail
                                        </mat-error>
                                        <mat-error *ngIf="hasError('email', 'emailExist')">
                                            El Email ya existe!
                                        </mat-error>
                                        <mat-error *ngIf="hasError('email', 'email')">
                                            E-mail no valido
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput placeholder="WhatsApp" type="text" formControlName="whatsapp" [(ngModel)]="socioactivo.whatsApp" [errorStateMatcher]="matcher" />
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput placeholder="noReferencia" type="text" formControlName="noreferencia" [(ngModel)]="socioactivo.noReferencia" [errorStateMatcher]="matcher" />
                                        <mat-error *ngIf="hasError('noreferencia', 'required')">
                                            Ingrese el Numero de Referencia
                                        </mat-error>
                                        <mat-error *ngIf="hasError('noreferencia', 'minlength')">
                                            El Numero de Referencia debe de ser minimo de 4 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </form>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <!-- Botones -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="button" style="position: absolute; right: 128px;">
                    <button mat-raised-button [disabled]="!formularioSocios.valid" (click)="ActivarSocio()" color="primary" type="submit">Activar</button>
                </div>
                <div class="button" style="position: absolute; right: 27px;">
                    <button mat-raised-button color="Accent" (click)="regresaralistado()">Cancelar</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>