<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>
    <mat-card-header>
        <mat-card-title>
            <h1 class="bd-content-title text-center">Parametros</h1>
        </mat-card-title>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Parametros" [routerLink]='["/home"]'>home</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation-z8 basic-container">
            <div id="DivModificar" style="width: 98%;" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <form [formGroup]="formularioParametros">
                                <!-- Datos del Socio -->
                                <mat-grid-list cols="2" rowHeight="100px" gutterSize="50px">
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Url Imagen" type="text" formControlName="url_Imagen" [(ngModel)]="parametrosActivos.url_Imagen" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="hasError('url_Imagen', 'required')">
                                                Ingrese la direccion de la imagen.
                                            </mat-error>
                                            <mat-error *ngIf="hasError('url_Imagen', 'minlength')">
                                                La direccion de la imagen debe de ser minimo de 4 caracteres.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="precio" type="text" formControlName="precio" [(ngModel)]="parametrosActivos.precio" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="hasError('precio', 'required')">
                                                Ingrese el precio
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <textarea matInput placeholder="Correos" formControlName="correos_CC" [(ngModel)]="parametrosActivos.correos_CC" [errorStateMatcher]="matcher" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <input matInput placeholder="Mensaje para reservación" type="text" formControlName="mensajereservacion" [(ngModel)]="parametrosActivos.mensajeReservacion" [errorStateMatcher]="matcher" />
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </form>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <!-- Botones -->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="button" style="position: absolute; right: 128px;">
                        <button mat-raised-button [disabled]="!formularioParametros.valid" (click)="guardarparametros()" color="primary" type="submit">Guardar</button>
                    </div>
                    <div class="button" style="position: absolute; right: 27px;">
                        <button mat-raised-button color="Accent" [routerLink]='["/home"]'>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>