<mat-card>
    <div *ngIf="mostrarProcesoExitoso" class="alert alert-success" role="alert">{{msjProcesoExitoso}}</div>
    <div *ngIf="mostrarAlertaValidacion" class="alert alert-warning" role="alert">{{msjAlertaValidacion}}</div>
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">{{msjError}}</div>
    <mat-card-header>
        <mat-card-title>Recuperacion de contraseña</mat-card-title>
        <mat-card-subtitle>BuscoSalon.com</mat-card-subtitle>
        <mat-icon style="font-size: 40px; position: absolute; right: 5%;" aria-hidden="false" aria-label="Agregar Cliente">home</mat-icon>
    </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando">
        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
      <div class="mat-elevation-z8 basic-container" >
          <form [formGroup]="formRecuperacion">
              <!-- Datos del cliente -->
              <mat-grid-list cols="1" rowHeight="100px" gutterSize="50px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="E-mail" type="email" formControlName="email"  ngModel email="true" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="hasError('email', 'required')">
                            Ingrese su E-mail
                        </mat-error>
                        <mat-error *ngIf="hasError('email', 'email')">
                            E-mail no valido
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
          </form>

          <!-- Botones -->
          <div fxLayout="row" fxLayoutAlign="start center">
              <div class="button" style="position: absolute; right: 128px;">
                  <button mat-raised-button [disabled]="!formRecuperacion.valid" (click)="RecuperarContrasena()"   color="primary" type="submit">Enviar</button>
              </div>
              <div class="button" style="position: absolute; right: 27px;">
                  <button mat-raised-button color="Accent" (click)="cancelar()">Cancelar</button>
              </div>
          </div>
      </div>
  </mat-card-content>
</mat-card>